= link_to "Invite a Friend!", new_invitation_path, class: 'btn btn-outline-danger float-lg-right', id: 'invite-btn'
- @categories.each do |category|
  %article.video_category
    %header
      %h3= link_to category.name, category_path(category)
    .videos.row
      - category.recent_videos.each do |video|
        .video.col-md-3
          = link_to video do
            = image_tag video.small_cover.url, alt: video.title
