%article.video_category
  .videos.row
    - @videos.each do |video|
      .video.col-sm-2
        = link_to video_path(video)  do
          - if Rails.env.development?
            = image_tag video.small_cover, alt: video.title
          - else
            = image_tag video.small_cover.current_path, alt: video.title
