---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4000000000000002&card[exp_month]=4&card[exp_year]=2019&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_5qoCenpxXameFtfQuUF214Zw
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1CF6VqBl5ZAm7xdluhNPyuMC",
          "object": "token",
          "card": {
            "id": "card_1CF6VpBl5ZAm7xdlGfcy2m0n",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 4,
            "exp_year": 2019,
            "fingerprint": "fgreIB3cKIQskc9w",
            "funding": "credit",
            "last4": "0002",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "108.218.251.114",
          "created": 1523305370,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Mon, 09 Apr 2018 20:22:50 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=300&currency=usd&card=tok_1CF6VqBl5ZAm7xdluhNPyuMC
    headers:
      Authorization:
      - Bearer sk_test_5qoCenpxXameFtfQuUF214Zw
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "charge": "ch_1CF6VqBl5ZAm7xdlMA9a9qDR",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes#card-declined",
            "message": "Your card was declined.",
            "type": "card_error"
          }
        }
  recorded_at: Mon, 09 Apr 2018 20:22:51 GMT
recorded_with: VCR 3.0.3
